.outerBox {
    border: 2px solid grey;
    padding: 20px;    
}

.boxContainer {
    border: 2px solid grey;
    padding: 20px; 
}

.upperSection {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px; 
} 

.bottomSection {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    vertical-align: middle; 
}

.listItemBox {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px; 
}

.listBoxes {
    width: 50%;
    padding: 10px; 
}

.listBoxes > li {
    margin: auto;
    border: 3px solid green;
    padding: 10px;
}

input {
    margin: 2px;
}
